<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

chart test<br>

<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~opencv.korea/92.embed"></iframe>

<div>
<table border="1" width="600">
  <tr><td>dddd</td>
  <td>dddddd</td>
  </tr>
</table>
</div>

<div>
    <a href="https://plotly.com/~opencv.korea/92/?share_key=JmxeiCIWcQE8q4QNxr9q5U" target="_blank" title="Plotly Playground 2022-10-13 18:32:32" style="display: block; text-align: center;"><img src="https://plotly.com/~opencv.korea/92.png?share_key=JmxeiCIWcQE8q4QNxr9q5U" alt="Plotly Playground 2022-10-13 18:32:32" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
    <script data-plotly="opencv.korea:92" sharekey-plotly="JmxeiCIWcQE8q4QNxr9q5U" src="https://plotly.com/embed.js" async></script>
</div>


</body>
</html>